* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: lighter;
}

header {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 255);
    height: 12vh;
}

header h1 {
    color: blue;
    margin-left: 20px;
}

.sec_1 {
    background-color: rgba(128, 0, 128, 0.512);
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 15vh;
}

.sec1_text {
    display: flex;
    flex-direction: column;
    gap: 30px;

    color: white;
}

.sec1_text h1 {
    font-size: 34px;
}

.container_sec2 {
    background-color: black;
    color: rgba(0, 0, 255, 0.683);
    padding: 20px;
}

.slide {
    display: flex;
    justify-content: center;
}

.slide iframe {
    opacity: 0.5;
    height: 300px;
}

.slide iframe:hover {
    opacity: 100%;
    transition: .5s;
    border: 2px solid green;
}

iframe {
    border-radius: 24px;
}